encode_utf.ipynb
pos_tagger.ipynb
.DS_Store

stanford-postagger-full-2020-11-17/hold-input.txt
this_venv/

filipino_known_words.db
run/*.db

__pycache__
run/__pycache__

run/foreignator_sqlite.py

tables/*