this_env/
encode_utf.ipynb
pos_tagger.ipynb
.DS_Store
run/__pycache__/
tables/dataset.csv
tables/dictionary.json
stanford-postagger-full-2020-11-17/hold-input.txt
thesis_venv/
filipino_known_words.db
run/*.db
__pycache__
run/foreignator_sqlite.py
tables/*.json